<h2>
  <%= cat.name  %>
</h2>


<h3>
    <%= cat.birth_date  %>
</h3>

<h3>
  <%= cat.color  %>
</h3>

<h3>
  <%= cat.sex  %>
</h3>

<h3>
  <%= cat.description  %>
</h3>

<a href='cats/<%= cat.id %>'>View Cat</a> 
