<li>
  <%= cat.name  %>
</li>

<li>
  <%= cat.birth_date  %>
</li>

<li>
  <%= cat.color  %>
</li>

<li>
  <%= cat.sex  %>
</li>

<li>
  <%= cat.description  %>
</li>

<a href='cats/<%= cat.id %>'>View Cat</a> 
